:root {
  --clr-primary-400: hsl(180, 66%, 49%);
  --clr-primary-500: hsl(257, 27%, 26%);

  --clr-secondary-400: hsl(0, 87%, 67%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 75%);
  --clr-neutral-300: hsl(257, 7%, 63%);
  --clr-neutral-400: hsl(255, 11%, 22%);
  --clr-neutral-500: hsl(260, 8%, 14%);
  --clr-neutral-900: hsl(0, 0%, 0%);
}